body
{
    margin-left: 50px;
    background-image: linear-gradient(to right, #d9a5bb, #68539e);
}

article
{
  width: 250px;
  -moz-border-radius:20px; 
  -webkit-border-radius: 20px;
  margin: 50px 10px;
  padding-top: 20px;
  background-color: rgba(207, 196, 213, .6);
  float: left;
  font-family: Segoe UI;
}


img
{
  width: 220px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.corta
{
  height: 90px;
}
.largo
{
  height: 170px;
}

time
{
  color: rgba(88, 92, 105, 50%);
  font-style: italic;
  font-size:11px;
  margin-left: 25px;
}

h1
{
  font-weight: 100;
  font-size:25px;
  margin-left: 25px;
}
